<html>
   <body style="background-color:#DBF9FC;>     
   <center>
   <div style="text-align:center;">
     <form method="post" action="/" enctype="multipart/form-data" style="text-align:center;">
        <dl>
            <p>
                <input style="text-align:center;" type="file" name="file" class="form-control" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input style="text-align:center;" type="submit" value="Submit" class="btn btn-info">
        </p>
    </form>    
    <img src="static/{{ name }}" width="50%" height="40%" alt="{{ name }}" style="text-align:center;">
    <h3 style="text-align:center;">{{lab}}<h3>
	</div>
	</center>
   </body>
</html>
